/* default page style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default body style */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* styles for the <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* style for h1 inside <header> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* style for anchor elements in the header */
header a {
    text-decoration: none;
    color: #fce138;
}

/* style for <nav> elements in the header */
header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* style for the footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* style for the h2 element in the footer */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* style for the div element in the footer */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* style for the anchor elements in the footer */
footer a {
    color: #024e76;
}

/* style for the section elements */
section { 
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero Style End */

/* Hero Form Style Start */
.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px; 
}

.hero-form h3{
    font-size: 24px;
    margin: 0;
}

.hero-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background-color: #024e76;
    color: #fce138;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* Hero Form Style End */